/*===============================================
●style.css PC 画面の横幅が769px以上
===============================================*/
@media screen and (min-width: 769px){
	/* 全体部分 */
	html{
    scroll-behavior: smooth;
	}
	body {
	    width: 1366px;
	    margin-right: auto;
	    margin-left: auto;
	}
	.clear { clear:both;}

	/* ヘッダー関連 */
	.header {width:1366px; margin: 0; padding: 0; height: 133px;}
	img.rogo { height: 132px;}
	.menu { width:1366px; height: 132px; float: left; background: #444b8c; font-weight: bold; padding:0; padding-bottom:10px; margin-bottom:0;}
	.menuList{ display: inline-block; width: 13%; height: 132px; position:relative; font-size: 18px; text-align: center; line-height: 1.1em;}
	.menuRogo{ display: inline-block;  height: 132px; position:relative; }
	.menuHome{ display: none; }
	.menuList a {color: white; position:absolute; bottom:0; text-align: center; text-decoration: none;}
	.menuList:last-child a{ color: white; text-decoration: none; text-align: center; text-decoration: none;}
	.menuList a:hover{ color: white; text-decoration: none; text-align: center; text-decoration: none;}
	#toggle { display: none; }
	.menuLinkUnder{ font-size: 11px; }

	/* メインイメージ関連 */
	.mainImageBox { width: 1366px; margin-top: 0px; margin-bottom: 20px;}
	.mainImages { width: 1366px;}

	/* コンテンツ関連 */
	.contents1{ width: 1366px; height: 350px;margin-bottom: 50px;}
	.contents2L{ width: 658px; height: 350px; float:left; margin-bottom: 20px;}
	.contents2R{ width: 658px; height: 350px; float:right; margin-bottom: 50px;}

	/* フッター関連 */
	hr {
	   border-width: 3px 0px 0px 0px;
	   border-style: solid;
	   border-color: black;
	   height: 1px;
	}
	
	.footer{width:1366px;}
	.LinkImageBox{width: 530px; float:left; margin-top: 5px; margin-bottom: 5px;}
	.ricNaviImageBox{width: 250px; float:left; margin-left: 10px;}
	img.ricNaviImage{width: 183px;}
	img.LinkricNaviImageRespons{width: 183px;}
	img.LinkFBImage{width: 250px; float:left; margin-left:20px;}

	.footerMenuBox { width: 500px; float: right; margin-top:10px;}
	.footerMenu {
	    width : 100%;
	    display:table;
	    table-layout:fixed;
	    text-align:right;
	}
	ul.footerMenu { margin: 0; padding: 0; }
	li.footerMenu { display: table-cell; vertical-align: middle; margin: 0; padding: 0; }

	.footerMenuLink:link {color: black; text-decoration: none; font-size: 1em;}
	.footerMenuLink:visited{color: black; text-decoration: none; font-size: 1em;}
	.footerMenuLink:hover {color: black; text-decoration: none; font-size: 1em;}
	.footerMenuLink:active {color: black; text-decoration: none; font-size: 1em;}

	.copyright{text-align:center; font-size: 13px; padding-top: 50px;}

	/* 募集要項関連 */

	.recruitTitle { font-size: 50px; text-align: center; background: lightgray; padding-top: 25px; padding-bottom: 25px;}
	.recruitBox{width:85%; display: block; margin:auto; margin-bottom:50px; padding:auto;}
	.recruitList{color: #002b62; font-size: 18px; font-weight: bold; float: left;}
	.recruitListdd {border-bottom: 2px solid #D7E8F0; margin-bottom: 15px; margin-left: 0; padding: 0 0 12px 185px;}
	.buttonBox{ width: 250px; margin:auto;}
	.square_btn{
	    display: inline-block;
	    padding: 0.5em 1em;
	    text-decoration: none;
	    background: #f7f7f7;
	    border-left: solid 6px #444b8c;/*左線*/
	    color: #444b8c;/*文字色*/
	    font-weight: bold;
	    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
	    margin: 10px;
	}
	.square_btn:active {
	    box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
	    transform: translateY(2px);
	}
}

/*===============================================
●style.css タブレット 画面の横幅が768pxまで
===============================================*/
@media screen and (max-width: 768px){
	/* 全体部分 */
	/* 全体部分 */
	html{
	    scroll-behavior: smooth;
	}

	body {
	    width: 100%;
	    margin-right: auto;
	    margin-left: auto;
	    font-family: "游ゴシック";
	}
	.clear { clear:both;}
	
	/* ヘッダー関連 */
	.header {width:100%; margin: 0; padding: 0;}
	.toggleRogo{width:20%;}
	.toggleMenu{width:100%; font-size: 4vw; text-align: center; padding:0; margin:0;}
	.menuHome{ font-size: 4vw; text-align: center; padding-bottom:5px; }
	.menuHome a {color: white; bottom:0; text-align: center; text-decoration: none;}
	.menuHome:last-child a{ color: white; text-decoration: none; text-align: center; text-decoration: none;}
	.menuHome a:hover{ color: white; text-decoration: none; text-align: center; text-decoration: none;}

	.menu {display: none; background: #444b8c; margin: 0; padding: 0; width:100%; height:auto;}
	.menuList{ font-size: 3vw; text-align: center; padding-bottom:5px;}
	.menuRogo{ display: none; }
	.menuList a {color: white; bottom:0; text-align: center; text-decoration: none;}
	.menuList:last-child a{ color: white; text-decoration: none; text-align: center; text-decoration: none;}
	.menuList a:hover{ color: white; text-decoration: none; text-align: center; text-decoration: none;}

	#toggle {
		display: block;
		position: relative;
		width: 100%;
		background: #444b8c;
	}
	#toggle a{
		display: block;
		position: relative;
		padding: 20px 0 20px;
		color:#FFF;
		text-align: center;
		text-decoration: none;
	}

	.menuLinkUnder{ font-size: 0px; }

	/* メインイメージ関連 */
	.mainImageBox { width: 100%; margin-top: 10px; margin-bottom: 0px;}
	.mainImages { width: 100%;}

	/* コンテンツ関連 */
	.contents1{ width: 100%; margin-bottom: 10px;}
	.contents2L{ width: 50%; float:left; margin-bottom: 10px;}
	.contents2R{ width: 50%; float:right; margin-bottom: 10px;}

	/* フッター関連 */
	hr {
	   border-width: 3px 0px 0px 0px;
	   border-style: solid;
	   border-color: black;
	   height: 1px;
	}
	.footer{width:100%;}
	.LinkImageBox{width: 75%; float:left; text-align:center; margin-top: 5px; margin-bottom: 5px;}
	.ricNaviImageBox{width: 45%; float:left; margin-bottom:10px;}
	img.ricNaviImage{width: 100%;}
	img.LinkricNaviImageRespons{width: 0%;}
	img.LinkFBImage{width: 45%; float:left; margin-left:20px;}
	
	.footerMenuBox { width: 100%;}
	.footerMenu {
	    width : 100%;
	    display:table;
	    table-layout:fixed;
	    text-align:center;
	    font-size: 1em;
	}
	ul.footerMenu { margin: 0; padding: 0; font-size: 2vw;}
	li.footerMenu { display: table-cell; vertical-align: middle; margin: 0; padding: 0; }

	.footerMenuLink:link {color: black; text-decoration: none;}
	.footerMenuLink:visited{color: black; text-decoration: none; }
	.footerMenuLink:hover {color: black; text-decoration: none; }
	.footerMenuLink:active {color: black; text-decoration: none;}

	.copyright{text-align:center; font-size: 2vw; padding-top: 15px;}

	/* 募集要項関連 */
	.recruitTitle { font-size: 6vw; text-align: center; background: lightgray; padding-top: 25px; padding-bottom: 25px;}
	.recruitBox{width:85%; margin:auto; margin-bottom:50px; padding:auto;}
	.recruitList{color: #002b62; font-weight: bold; padding: 0 20px 15px 20px; }
	.recruitListdd { font-size: 90%; border-bottom: 2px solid #D7E8F0; margin:0; padding: 0 20px 15px 20px; margin-bottom:20px;}
	.buttonBox{ width: 250px; margin:auto;}
	.square_btn{
	    display: inline-block;
	    padding: 0.5em 1em;
	    text-decoration: none;
	    background: #f7f7f7;
	    border-left: solid 6px #444b8c;/*左線*/
	    color: #444b8c;/*文字色*/
	    font-weight: bold;
	    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
	    margin: 10px;
	}
	.square_btn:active {
	    box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
	    transform: translateY(2px);
	}


}

/*===============================================
●style.css スマホ 画面の横幅が640pxまで
===============================================*/
@media screen and (max-width:640px){
	/* 全体部分 */
	html{
	    scroll-behavior: smooth;
	}

	body {
	    width: 100%;
	    margin-right: auto;
	    margin-left: auto;
	    font-family: "游ゴシック";
	}
	.clear { clear:both;}
	
	/* ヘッダー関連 */
	.header {width:100%; margin: 0; padding: 0;}
	.toggleRogo{width:20%; margin-right:5px;}
	.toggleMenu{ width:100%; font-size: 4vw; text-align: center;}
	.menuHome{ font-size: 4vw; text-align: center; padding-bottom:5px; }
	.menuHome a {color: white; bottom:0; text-align: center; text-decoration: none;}
	.menuHome:last-child a{ color: white; text-decoration: none; text-align: center; text-decoration: none;}
	.menuHome a:hover{ color: white; text-decoration: none; text-align: center; text-decoration: none;}
	.menu {display: none; background: #444b8c; margin: 0; padding: 0; width:100%; height:auto;}
	.menuList{ font-size: 4vw; text-align: center; padding-bottom:5px;}
	.menuRogo{ display: none; }
	.menuList a {color: white; bottom:0; text-align: center; text-decoration: none;}
	.menuList:last-child a{ color: white; text-decoration: none; text-align: center; text-decoration: none;}
	.menuList a:hover{ color: white; text-decoration: none; text-align: center; text-decoration: none;}

	#toggle {
		display: block;
		width: 100%;
		background: #444b8c;
		padding: 0;
	}
	#toggle a{
		display: block;
		padding:0;
		margin-bottom:1px;
		color:#FFF;
		text-align: center;
		text-decoration: none;
	}

	.menuLinkUnder{ font-size: 0px; }

	/* メインイメージ関連 */
	.mainImageBox { width: 100%; margin-top: 10px; margin-bottom: 0px;}
	.mainImages { width: 100%;}

	/* コンテンツ関連 */
	.contents1{ width: 100%; margin-bottom: 10px;}
	.contents2L{ width: 50%; float:left; margin-bottom: 10px;}
	.contents2R{ width: 50%; float:right; margin-bottom: 10px;}

	/* フッター関連 */
	hr {
	   border-width: 3px 0px 0px 0px;
	   border-style: solid;
	   border-color: black;
	   height: 1px;
	}
	.footer{width:100%;}
	.LinkImageBox{width: 75%; float:left; text-align:center; margin-top: 5px; margin-bottom: 5px;}
	.ricNaviImageBox{width: 45%; float:left; margin-bottom:10px;}
	img.ricNaviImage{width: 100%;}
	img.LinkricNaviImageRespons{width: 0%;}
	img.LinkFBImage{width: 45%; float:left; margin-left:20px;}
	
	.footerMenuBox { width: 100%;}
	.footerMenu {
	    width : 100%;
	    display:table;
	    table-layout:fixed;
	    text-align:center;
	    font-size: 1em;
	}
	ul.footerMenu { margin: 0; padding: 0; font-size: 2vw;}
	li.footerMenu { display: table-cell; vertical-align: middle; margin: 0; padding: 0; }

	.footerMenuLink:link {color: black; text-decoration: none;}
	.footerMenuLink:visited{color: black; text-decoration: none; }
	.footerMenuLink:hover {color: black; text-decoration: none; }
	.footerMenuLink:active {color: black; text-decoration: none;}

	.copyright{text-align:center; font-size: 2vw; padding-top: 15px;}
	
	/* 募集要項関連 */

	.recruitTitle { font-size: 7vw; text-align: center; background: lightgray; padding-top: 25px; padding-bottom: 25px;}
	.recruitBox{width:85%; margin:auto; margin-bottom:50px; padding:auto;}
	.recruitList{color: #002b62; font-weight: bold; padding: 0 20px 15px 20px; }
	.recruitListdd { font-size: 90%; border-bottom: 2px solid #D7E8F0; margin:0; padding: 0 20px 15px 20px; margin-bottom:20px;}
	.buttonBox{ width: 250px; margin:auto;}
	.square_btn{
	    display: inline-block;
	    padding: 0.5em 1em;
	    text-decoration: none;
	    background: #f7f7f7;
	    border-left: solid 6px #444b8c;/*左線*/
	    color: #444b8c;/*文字色*/
	    font-weight: bold;
	    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
	    margin: 10px;
	}
	.square_btn:active {
	    box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
	    transform: translateY(2px);
	}


}